<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true">

    <ion-title>
      <div style="width:100%;height:25px;background:white;border: solid 1px lightgrey; border-radius:7px"></div>
    </ion-title>

    <ion-buttons left class="bar-buttons">
      <button ion-button icon-only class="bar-button">
        <ion-icon name="briefcase"></ion-icon>
      </button>
      <button ion-button icon-only class="bar-button">
        <ion-icon name="calculator"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons right class="bar-buttons">
      <button ion-button icon-only class="bar-button">
        <ion-icon name="aperture">
          <span class="text-total-coins">10</span>
        </ion-icon>
      </button>
      <button ion-button icon-only class="bar-button">
        <ion-icon name="stopwatch">
          <span class="text-total-coins">60:00</span>
        </ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<!-- resize map to fit screen height
<ion-content padding class="dragonBackground">
  <div style="height:100%">
    <ion-scroll class="imageContainer" scrollX="true" style="height:100%">
      <img src="assets/imgs/plan2.png" full-height>
    </ion-scroll>
  </div>
</ion-content>
-->
<ion-content padding class="dragonBackground">

  <help-button></help-button>

  <ion-scroll class="imageContainer" scrollX="true" scrollY="true" zoom="true" maxZoom="2" style="height:100%">

    <!-- CHALLENGE 1 BUTTON-->
    <div *ngIf="challenge[0].state=='solved' || challenge[0].state=='inProgress' " style="position: absolute; left:120px; top:180px">
      <div *ngIf="challenge[0].state=='solved'">
        <img src="assets/imgs/map-marker-1.png" class="legend-icon">
      </div>
      <div *ngIf="challenge[0].state=='inProgress'">
        <img src="assets/imgs/map-marker-2.png" class="legend-icon">
      </div>
    </div>

    <!-- MAP AREA-->
    <img src="assets/imgs/plan2.png" style="width: 1024px">
    <br> LEGENDE:
    <!-- CURRENT CHALLENGE -->
    <div class="legend-container">
      <div>
        <img src="assets/imgs/map-marker-2.png" class="legend-icon">
      </div>
      <div>
        Rendez-vous ici pour resoudre l'énigme
      </div>
    </div>

    <!-- PREVIOUS CHALLENGE -->
    <div class="legend-container">
      <div>
        <img src="assets/imgs/map-marker-1.png" class="legend-icon">
      </div>
      <div>
        Enigme resolue
      </div>
    </div>

  </ion-scroll>
</ion-content>